body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-anonymous-pro: "Anonymous Pro";
  --font-kavoon: Kavoon;
  --font-cabin: Cabin;
  --font-inter: Inter;
  --font-gemunu-libre: "Gemunu Libre";
  --font-abeezee: ABeeZee;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-mini: 15px;
  --font-size-8xs: 5px;
  --font-size-3xs: 10px;
  --font-size-6xs: 7px;
  --font-size-5xl: 24px;
  --font-size-17xl: 36px;
  --font-size-xs: 12px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-gold: #ffd84d;
  --color-mediumblue: #3a36ff;
  --color-gray-100: #7d7d7d;
  --color-gray-200: rgba(255, 255, 255, 0.33);
  --color-mediumorchid: #f369ff;

  /* Gaps */
  --gap-11xs: 2px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-mid: 17px;
}
